service:
  type: NodePort
  port: 5000
  targetPort: 5000
  nodePort: 30002

replicaCount: 1

image:
  repository: andreimurica/cc-auth-service
  tag: latest
  pullPolicy: IfNotPresent

containerPort: 5000

env:
  POSTGRES_HOST: postgres-db-service

secrets:
  name: postgres-db-secret
  keys:
    dbName: postgres-dbname
    user: postgres-user
    password: postgres-password
    jwtSecret: jwt-secret-key
