#root {
    width: 100%;
    min-height: 100dvh;
}

body {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7 !important;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
