{{ $allApps := merge .Values.apps .Values.infra -}}
{{ range $name, $config := $allApps }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $name }}
  namespace: {{ $config.namespace }}
  labels:
    app: {{ $name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ $name }}
  template:
    metadata:
      labels:
        app: {{ $name }}
    spec:
      containers:
        - name: {{ $name }}
          image: {{ $config.image }}
          ports:
            - containerPort: {{ $config.containerPort }}
          {{- if $config.env }}
          env:
            {{ range $key, $val := $config.env }}
            - name: {{ $key }}
              value: {{ $val | quote }}
            {{ end }}
          {{ end }}
{{ end }}