apiVersion: apps/v1
kind: Deployment
metadata:
    name: web-app
    labels:
        app: web-app
spec:
    replicas: 1
    selector:
        matchLabels:
            app: web-app
    template:
        metadata:
            labels:
                app: web-app
        spec:
            containers:
                - name: web-app
                  image: andreimurica/cc-web-app:latest
                  imagePullPolicy: Always
                  ports:
                      - containerPort: 5173
                  env:
                      - name: VITE_AUTH_API_URL
                        value: "http://auth-service:5000"
                      - name: VITE_BUSINESS_API_URL
                        value: "http://business-logic-service:8080"
                      - name: VITE_WEB_APP_URL
                        value: "http://localhost:5173"
                  resources:
                      requests:
                          cpu: "100m"
                          memory: "128Mi"
                      limits:
                          cpu: "500m"
                          memory: "512Mi"
