replicaCount: 1

image:
  repository: adminer
  tag: latest
  pullPolicy: Always

containerPort: 8081

service:
  type: ClusterIP
  port: 8081
  targetPort: 8080

resources:
  requests:
    cpu: "50m"
    memory: "128Mi"
  limits:
    cpu: "250m"
    memory: "300Mi"
