apiVersion: apps/v1
kind: Deployment
metadata:
    name: postgres-db
    labels:
        app: postgres-db
spec:
    replicas: 1
    selector:
        matchLabels:
            app: postgres-db
    template:
        metadata:
            labels:
                app: postgres-db
        spec:
            volumes:
                - name: postgres-storage-volume
                  persistentVolumeClaim:
                      claimName: postgres-db-claim
                - name: postgres-init-volume
                  configMap:
                      name: postgres-init-script
            containers:
                - name: postgres-db
                  image: postgres:15-alpine
                  ports:
                      - containerPort: 5432
                  env:
                      - name: POSTGRES_DB
                        valueFrom:
                            secretKeyRef:
                                name: postgres-db-secret
                                key: postgres-dbname
                      - name: POSTGRES_USER
                        valueFrom:
                            secretKeyRef:
                                name: postgres-db-secret
                                key: postgres-user
                      - name: POSTGRES_PASSWORD
                        valueFrom:
                            secretKeyRef:
                                name: postgres-db-secret
                                key: postgres-password
                  volumeMounts:
                      - name: postgres-storage-volume
                        mountPath: /var/lib/postgresql/data
                        subPath: postgres
                      - name: postgres-init-volume
                        mountPath: /docker-entrypoint-initdb.d
                  resources:
                      requests:
                          cpu: "250m"
                          memory: "256Mi"
                      limits:
                          cpu: "1000m"
                          memory: "1Gi"
